
.android-screen-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.android-screens {
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.android-screen {
  text-align: center;
  width: 80%;
}

.android-screen .android-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.android-image-link {
  text-decoration: none;
}

.android-um {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

  .android-um .android-screen-image {
    width: 100%;
    z-index: 1;
  }


.android-ub {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

  .android-ub .android-screen-image {
    width: 100%;
    z-index: 1;
  }


.android-nm {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

  .android-nm .android-screen-image {
    width: 100%;
    z-index: 1;
  }

  .android-nm.android-link {
    display: block;
    z-index: 2;
  }

.android-auto {
  display: inline-block;
  width: 300px;
  overflow: hidden;
}

  .android-auto .android-screen-image {
    display: block;
    height: 300px;
    z-index: 1;
  }
