.setlist_table{
    width: 75%;
    margin: auto;
}

#whole thead th{
    padding-top: 1px;
    padding-bottom: 1px;
}
#whole tbody td{
    padding-top: 1px;
    padding-bottom: 1px;
}

#whole thead tr{
    background-color: rgb(20, 228, 193);
}
#whole tbody tr.odd{
    background-color: rgb(255, 255, 255);
}
#whole tbody tr.even{
    background-color: rgb(170, 238, 250);
}

#whole thead th:first-child{
    border-left: 1px solid #404040;
}
#whole thead th{
    border-top: 1px solid #404040;
    border-right: 1px solid #404040;
}

#whole tbody td:first-child{
    border-left: 1px solid #404040;
}
#whole tbody td{
    border-right: 1px solid #404040;
}